@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Contact";
}

<style>
    h4 {
        color:white;
        text-align:center;
        padding-left:20em;
      }
    h3 {
        color:white;
        text-align:center;
        }
</style>
<h3>Contact Name :</h3>
<h4>Hammad Rasheed</h4>
<h3>Email :</h3>
<h4>bitf11m001@pucit.edu.pk</h4>