@{
    ViewBag.Title = "order";
}

<h2>order</h2>



   <style>
    h4 {
        color:white;
        text-align:center;
        padding-left:20em;
      }
       </style>
<h4>Congratx your order is placed and will be deliverd in 3 days.</h4>
    